* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main{
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    .box{
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
}

.win{
    background-color: greenyellow;
}