* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
:root {
    --x: 0px;
    --y: 0px;
}
#wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background:url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}
#overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    background: radial-gradient(200px at var(--x) var(--y),transparent , rgba(0, 0, 0, 0.850));
}