* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: rgb(16, 240, 16);
    font-size: 60px;
    font-family: monospace;
    font-weight: 100;
}