* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}

#wrapper {
    height: 100%;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#box{
    height: 8.5%;
    width: 45%;
    border: 1px solid white;
    background-color: #fff;
    /* border-radius: 25px; */
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav{
    position: relative;
    overflow: hidden;
    padding: 19.5px 37px;
    border: 1px solid black;
}
.nav h2{
    font-size: 22.5px;
    font-weight: 500;
}
.nav:hover{
    anchor-name: --mov;
}
#move{
        mix-blend-mode: difference;
    background-color: red;
    pointer-events: none;
    position: absolute;
    position-anchor: --mov;
    /* height: 50px;
    width: 50px; */
    left: anchor(left);
    top: anchor(top);
    bottom: anchor(bottom);
    right: anchor(right);
    transition: all 0.3s linear;
}