@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;



    #header{
        height: 100px;
        // background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3vw;
        #part1{
            width: 55%;
            display: flex;
            justify-content: space-between;
            align-items: center ;
            #part11{
                display: flex;
                align-items: center;
                img{
                    height: 25px;
                }
                h4{
                    font-size: 24px;
                    font-weight: 500;
                }
            }
            #part12{
                display: flex;
                gap: 25px;
                h4{
                    font-weight: 400;
                }
            }
        }
        #part2{
            width: 45%;
            display: flex;
            justify-content: end;
            button{
                outline: none;
                border: none;
            }
            #log{
                background-color: transparent;
                margin-right: 20px;
                font-size: 16px;
            }
            #talk{
                background-color: #2C313D;
                color: white;
                height: 50px;
                width: 144px;
                display: flex;
                align-items: center;
                justify-content: end;
                padding: 0 5px;
                border-radius: 50px;
                position: relative;
                gap: 7px;
                h4{
                    font-weight: 400;
                }
                i{
                    padding: 10px;
                    background-color: #BEC1FE;
                    color: black;
                    font-size: 20px;
                    border-radius: 50%;
                }
            }
        }
    }



    #body{
        height: calc(100% - 100px);
        // background-color: beige;
        display: grid;
        grid-template-rows: 55% 45%;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 20px;
        padding: 0 3vw 4vw 3vw ;
        div{
            // background-color: aqua;
            // border: 2px solid black;
        }
        #id1{
            grid-row: 1/3 ;
            grid-column: 1/2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h1{
                font-size: 5vw;
                line-height: 1;
                font-weight: 400;
                display: flex;
                flex-direction: column;
                div{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }
                div:nth-child(5){
                    margin-top: 25px;
                }
                #one{
                    display: inline-block;
                    height: 70px;
                    width: 150px;
                    background-image: url(https://png.pngtree.com/background/20250423/original/pngtree-a-circular-glass-pedestal-with-flowing-holographic-waves-against-purple-background-picture-image_16088012.jpg);
                    background-position: center;
                    background-size: cover;
                    border-radius: 100px;
                }
                #two{
                    height: 60px;
                    width: 230px;
                    border-radius: 100px;
                    border: 2px solid black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    h4{
                        font-size: 20px;
                        font-weight: 500;
                    }
                    i{
                        font-size: 35px;
                    }
                }
                #cont{
                    background-color: black;
                    color: white;
                    padding: 13px 20px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    border: none;
                    outline: none;
                    gap: 10px;
                    i{
                        font-size: 18px;
                    }
                }
                #req{
                    border: none;
                    outline: none;
                    background-color: transparent;
                    text-decoration: underline;
                    font-weight: 500;
                }
            }
            #part2{
                p{
                    width: 55%;
                }
                div{
                    display: flex;
                    gap: 20px;
                    img{
                        width: auto;
                        height: 80px;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }
        }
        #id2{
            grid-row: 1/2 ;
            grid-column: 2/4;
            background-image: url(https://www.sganalytics.com/wp-content/uploads/2023/11/c5a9e-role-of-ai-and-data-analytics-700x393.jpg);
            background-position: center;
            background-size: cover;
            border-radius: 30px;
        }
        #id3{
            grid-row: 2/3 ;
            grid-column: 2/3;
            background-image: url(https://cdn.prod.website-files.com/64028859e22a1ba231d10f5d/640a6ec9a496230eeb87b3ac_blogpost_image02.webp);
            background-position: center;
            background-size: cover;
            border-radius: 30px;
        }
        #id4{
            grid-row: 2/3 ;
            grid-column: 3/4;
            background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=366,fit=crop/mxBMOnw2VGFanKOR/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-represents-how-machine-learning-is-inspired-by-neuroscience-and-the-human-brain-it-was-created-by-novoto-studio-as-par-AE0a8L41V8ikOw8X.jpeg);
            background-position: center;
            background-size: cover;
            border-radius: 30px;
        }
    }
}