* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
@property --deg{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
#wrapper {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box {
    height: 60%;
    width: 25%;
    border: 0px solid transparent;
    box-shadow: 0px 0px 0px rgba(74, 221, 165, 0.655);
    border-radius: 22px;
    background: linear-gradient(black) padding-box,
    conic-gradient( from var(--deg) , transparent 270deg , rgba(74, 221, 165, 0.836) , transparent ) border-box,
    conic-gradient(
        from calc(var(--deg) + 180deg),
        black 270deg,
        rgba(74, 221, 165, 0.655),
        black
    ) border-box;
    overflow: hidden;
    animation: bordr 5s infinite linear;
    animation-play-state: paused;
    transition: all .2s linear;
}
#box:hover{
    animation-play-state: running;
    border-width: 7.5px;
    box-shadow: 0px 0px 50px rgba(74, 221, 165, 0.655);
    color: rgba(74, 221, 165, 0.655);
}
#box:hover h2{
    color: rgba(74, 221, 165, 0.655);
    text-shadow: 0px 0px 20px rgba(74, 221, 165, 0.655);
}
#top{
    height:85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#bottom{
    height: 15%;
    width: 100%;
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    border-radius: 15px;
    color: white;
    /* overflow: hidden; */
}
h2{
    font-size: 24px;
}


@keyframes bordr {
    from{
        --deg : 0deg;
    }
    to{
        --deg : 360deg;
    }
}