* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: #000;
  /* border: 1px solid white; */
  border-radius: 20px;
  padding: 20px;
  width:725px;
}

.display {
  color: white;
  font-size: 60px;
  text-align: right;
  margin-bottom: 20px;
  padding: 10px;
  word-wrap: break-word;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
}

button {
  background-color: #1c1c1c;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s;
}

button.gray {
  background-color: #a5a5a5;
  color: black;
}

button.orange {
  background-color: #ff9f0a;
  font-size: 24px;
}

button.zero {
  grid-column: span 2;
  border-radius: 40px;
  width: 108px;
}

button:hover {
  opacity: 0.7;
}
