@font-face {
    font-family: satoshi;
    src: url(./63cffc20aa8997095067596f_Satoshi-Light.woff);
}
@font-face {
    font-family: mono;
    src: url(./63cffc20aa8997095067596f_Satoshi-Light.woff);
}

@mixin flex(){
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: satoshi;
}
html, body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}


#nav-bar{
    height: 80px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: white;
    #part1{
        font-size: 18px;
    }
    #part2{
        display: flex;
        gap: 10px;
        text-transform: uppercase;
        .two{
            border-radius: 15px;
            background-color: #232323;
            padding: 15px 22px;
            font-size: 14px;
            font-weight: 900;
            color: white;
            cursor: pointer;
        }
        #part25 i{
            padding-left: 5px;
        }
        #part26 span{
            padding: 5px 8px;
            border-radius: 50%;
            background-color: #AD9D49;
            font-size: 12px;
            margin-left: 5px;
            color: black;
        }
        #part27{
            background-color: #AD9D49;
            color: black;
        }
    }
}


#one-main{
    height: 100vh;
    background-color: #121212;
    padding: 0 15px;
    @include flex();
    .o-main{
        width: 50%;
        height: 100%;
        // border: 1px solid white;
    }
    #part1{
        // border: 1px solid white;

        border-radius: 15px;
        overflow: hidden;
        #part1 img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}