* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}

@mixin divs(){
    background-position: center;
    background-size: cover;
    border-radius: 35px;
    cursor: pointer;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    section{
        height: 75%;
        width: 65%;
        background-color: beige;
        // border: 1px solid black;
        display: flex;
        gap: 15px;
        div{
            height: 100%;
            flex-grow: 1;
            transition: all 0.2s linear 0s;
        }
        div:hover{
            flex-grow: 2;

        }
        div:nth-child(1){
            background-image: url(https://i.pinimg.com/736x/77/0f/94/770f9422fbc32d5ceb6da9900d4aab16.jpg);
            @include divs();
        }
        div:nth-child(2){
            background-image: url(https://i.pinimg.com/736x/db/07/1b/db071b823508371d69de8e32ead9d8d4.jpg);
            @include divs();

        }
        div:nth-child(3){
            background-image: url(https://i.pinimg.com/736x/c8/95/da/c895dacec0195f88145f7d0987d94df4.jpg);
            @include divs();

        }
        div:nth-child(4){
            background-image: url(https://i.pinimg.com/736x/00/a6/95/00a695dfa087a11253e8dbe0847d1a96.jpg);
            @include divs();
        }
        div:nth-child(5){
            background-image: url(https://i.pinimg.com/736x/5a/22/4b/5a224bac5a11db1c77e884d27c21f8ee.jpg);
            @include divs();
        }
    }
}